run =  ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
entrypoint = "main.py"
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run =  ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5432
externalPort = 3000

[env]
FLASK_APP = "main.py"  # Set this appropriately if your entry point file is app.py
FLASK_ENV = "development"
PYTHONUNBUFFERED = "true"


